body {
    background-color: purple;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
}

footer {
    color: white;
    text-align: center;
    display: flex;
	/* flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch; */
}

h1 {
    color: white;
   text-align: center;
   text-decoration: underline;

}

h2{
    color: white;
    text-align: center;
}